<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72890029267-qp5oj3e71agjj94ven24a0fkr97eu52t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72890029267-qp5oj3e71agjj94ven24a0fkr97eu52t</string>
	<key>API_KEY</key>
	<string>AIzaSyADrTW7HLrMkM_9qXZ9WzXgY6--eZI-n1w</string>
	<key>GCM_SENDER_ID</key>
	<string>72890029267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Luan-Salvador.FourPay</string>
	<key>PROJECT_ID</key>
	<string>fourpay-6a68a</string>
	<key>STORAGE_BUCKET</key>
	<string>fourpay-6a68a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72890029267:ios:b75907bc1ad39b34d3b026</string>
</dict>
</plist>